.logo{
    flex-basis: 20%;
}
.logo img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
/* the two below this should make them look nice but not working */
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
}